<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.selffun.suite.dao.ByipMapper" >
  <resultMap id="BaseResultMap" type="com.selffun.suite.pojo.Byip" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="call_count" property="callCount" jdbcType="BIGINT" />
    <result column="success_count" property="successCount" jdbcType="BIGINT" />
    <result column="resp_sec_count" property="respSecCount" jdbcType="BIGINT" />
    <result column="data_input" property="dataInput" jdbcType="BIGINT" />
    <result column="data_output" property="dataOutput" jdbcType="BIGINT" />
    <result column="max_resp" property="maxResp" jdbcType="INTEGER" />
    <result column="max_resp_time" property="maxRespTime" jdbcType="TIME" />
    <result column="max_resp_url" property="maxRespUrl" jdbcType="VARCHAR" />
    <result column="cm_created_time" property="cmCreatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `date`, ip, call_count, success_count, resp_sec_count, data_input, data_output, 
    max_resp, max_resp_time, max_resp_url, cm_created_time
  </sql>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.selffun.suite.pojo.ByipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from byip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.selffun.suite.pojo.ByipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from byip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.selffun.suite.pojo.ByipExample" >
    delete from byip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.selffun.suite.pojo.ByipExample" resultType="java.lang.Integer" >
    select count(*) from byip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update byip
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.date != null" >
        `date` = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.callCount != null" >
        call_count = #{record.callCount,jdbcType=BIGINT},
      </if>
      <if test="record.successCount != null" >
        success_count = #{record.successCount,jdbcType=BIGINT},
      </if>
      <if test="record.respSecCount != null" >
        resp_sec_count = #{record.respSecCount,jdbcType=BIGINT},
      </if>
      <if test="record.dataInput != null" >
        data_input = #{record.dataInput,jdbcType=BIGINT},
      </if>
      <if test="record.dataOutput != null" >
        data_output = #{record.dataOutput,jdbcType=BIGINT},
      </if>
      <if test="record.maxResp != null" >
        max_resp = #{record.maxResp,jdbcType=INTEGER},
      </if>
      <if test="record.maxRespTime != null" >
        max_resp_time = #{record.maxRespTime,jdbcType=TIME},
      </if>
      <if test="record.maxRespUrl != null" >
        max_resp_url = #{record.maxRespUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.cmCreatedTime != null" >
        cm_created_time = #{record.cmCreatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update byip
    set id = #{record.id,jdbcType=BIGINT},
      `date` = #{record.date,jdbcType=DATE},
      ip = #{record.ip,jdbcType=VARCHAR},
      call_count = #{record.callCount,jdbcType=BIGINT},
      success_count = #{record.successCount,jdbcType=BIGINT},
      resp_sec_count = #{record.respSecCount,jdbcType=BIGINT},
      data_input = #{record.dataInput,jdbcType=BIGINT},
      data_output = #{record.dataOutput,jdbcType=BIGINT},
      max_resp = #{record.maxResp,jdbcType=INTEGER},
      max_resp_time = #{record.maxRespTime,jdbcType=TIME},
      max_resp_url = #{record.maxRespUrl,jdbcType=VARCHAR},
      cm_created_time = #{record.cmCreatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from byip
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from byip
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.selffun.suite.pojo.Byip" useGeneratedKeys="true" keyProperty="id" >
    insert into byip (`date`, ip, call_count, 
      success_count, resp_sec_count, data_input, 
      data_output, max_resp, max_resp_time, 
      max_resp_url, cm_created_time)
    values (#{date,jdbcType=DATE}, #{ip,jdbcType=VARCHAR}, #{callCount,jdbcType=BIGINT}, 
      #{successCount,jdbcType=BIGINT}, #{respSecCount,jdbcType=BIGINT}, #{dataInput,jdbcType=BIGINT}, 
      #{dataOutput,jdbcType=BIGINT}, #{maxResp,jdbcType=INTEGER}, #{maxRespTime,jdbcType=TIME}, 
      #{maxRespUrl,jdbcType=VARCHAR}, #{cmCreatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.selffun.suite.pojo.Byip" useGeneratedKeys="true" keyProperty="id" >
    insert into byip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      `date`,
      ip,
      call_count,
      success_count,
      resp_sec_count,
      data_input,
      data_output,
      max_resp,
      max_resp_time,
      max_resp_url,
      cm_created_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{date,jdbcType=DATE},
      #{ip,jdbcType=VARCHAR},
      #{callCount,jdbcType=BIGINT},
      #{successCount,jdbcType=BIGINT},
      #{respSecCount,jdbcType=BIGINT},
      #{dataInput,jdbcType=BIGINT},
      #{dataOutput,jdbcType=BIGINT},
      #{maxResp,jdbcType=INTEGER},
      #{maxRespTime,jdbcType=TIME},
      #{maxRespUrl,jdbcType=VARCHAR},
      #{cmCreatedTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.selffun.suite.pojo.Byip" >
    update byip
    <set >
      <if test="date != null" >
        `date` = #{date,jdbcType=DATE},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="callCount != null" >
        call_count = #{callCount,jdbcType=BIGINT},
      </if>
      <if test="successCount != null" >
        success_count = #{successCount,jdbcType=BIGINT},
      </if>
      <if test="respSecCount != null" >
        resp_sec_count = #{respSecCount,jdbcType=BIGINT},
      </if>
      <if test="dataInput != null" >
        data_input = #{dataInput,jdbcType=BIGINT},
      </if>
      <if test="dataOutput != null" >
        data_output = #{dataOutput,jdbcType=BIGINT},
      </if>
      <if test="maxResp != null" >
        max_resp = #{maxResp,jdbcType=INTEGER},
      </if>
      <if test="maxRespTime != null" >
        max_resp_time = #{maxRespTime,jdbcType=TIME},
      </if>
      <if test="maxRespUrl != null" >
        max_resp_url = #{maxRespUrl,jdbcType=VARCHAR},
      </if>
      <if test="cmCreatedTime != null" >
        cm_created_time = #{cmCreatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.selffun.suite.pojo.Byip" >
    update byip
    set `date` = #{date,jdbcType=DATE},
      ip = #{ip,jdbcType=VARCHAR},
      call_count = #{callCount,jdbcType=BIGINT},
      success_count = #{successCount,jdbcType=BIGINT},
      resp_sec_count = #{respSecCount,jdbcType=BIGINT},
      data_input = #{dataInput,jdbcType=BIGINT},
      data_output = #{dataOutput,jdbcType=BIGINT},
      max_resp = #{maxResp,jdbcType=INTEGER},
      max_resp_time = #{maxRespTime,jdbcType=TIME},
      max_resp_url = #{maxRespUrl,jdbcType=VARCHAR},
      cm_created_time = #{cmCreatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>